.main-header {
  width: 100%;
  min-width: 1200px;
  height: 71px;
  background: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(11px);
  position: sticky;
  top: 0;
  z-index: 5;

  .container {
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 320px) {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    min-width: 750px;
  }
  @media (max-width: 320px) {
    width: 100%;
    min-width: 320px;
    height: 43px;
  }
}

.wrap-header {
  width: 100%;
  height: 71px;
  display: flex;
  align-items: center;
  flex-direction: row;
  @media (max-width: 320px) {
    height: 43px;
  }
}

.btn_menu {
  background: center / contain url("../img/Group 22.svg");
  width: 23px;
  height: 23px;
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }

  @media (max-width: 768px) {
    margin-left: 15px;
  }
}

.map {
  margin-left: 23px;
  @media (max-width: 320px) {
    display: none;
  }

  img {
    &:hover {
      opacity: 0.3;
    }
  }

  @media (max-width: 768px) {
    margin-left: 31px;
  }
}

.phone {
  margin-left: 35px;

  a {
    @include M500(20, 26);
    text-decoration: none;

    &:hover {
      opacity: 0.3;
    }
  }
  @media (max-width: 768px) {
    margin-left: 34px;
  }
  @media (max-width: 320px) {
    display: none;
  }

}

.phone1 {
  margin-left: 30px;
  display: none;
  @media (max-width: 320px) {
    display: block;
  }

  a {
    &:hover {
      opacity: 0.3;
    }
  }
}

.logo {
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 320px) {
    margin-right: 15px;
  }
  img{
    @media (max-width: 320px) {
    height: 24px;
  }
  }
}

.shop {
  img {
    &:hover {
      opacity: 0.3;
    }
  }
  @media (max-width: 320px) {
    display: none;
  }
}
.shop1 {
  display: none;
  margin-left: 30px;
  img {
    &:hover {
      opacity: 0.3;
    }
  }
  @media (max-width: 320px) {
    display: block;
  }
}

.mail {
  margin-left: 26px;

  img {
    &:hover {
      opacity: 0.3;
    }
  }

  @media (max-width: 768px) {
    margin-left: 30px;
  }
  @media (max-width: 320px) {
    display: none;
  }
}

.search {
  margin-left: 26px;

  img {
    &:hover {
      opacity: 0.3;
    }
  }

  @media (max-width: 768px) {
    margin-left: 30px;
    margin-right: 15px;
  }
  @media (max-width: 320px) {
    display: none;
  }
}