.wrap-section-6 {
  margin-top: 60px;
}

.row-1-s6 {
  display: flex;
  flex-direction: row;
  @media (max-width: 320px) {
    flex-direction: column;
  }
  .wrap-img-s6 {
    width: 300px;
    height: 289px;
    flex-shrink: 0;
    @media (max-width: 320px) {
      width: 290px;
    }
  }
}

.wrap-text-s6 {
  margin-left: 81px;
  @media (max-width: 768px) {
    margin-left: 30px;
  }
  @media (max-width: 320px) {
    margin-left: 0;
  }
  h3 {
    @include J500(35, 42);
    @media (max-width: 768px) {
      @include J500(24, 28);
    }
  }
  .text-s62 {
    margin-top: 51px;
    max-width: 672px;
    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }

}

.row-2-s6{
  display: flex;
  flex-direction: row;
  margin-top: 39px;
  @media (max-width: 320px) {
    flex-direction: column;
  }
  .wrap-img-s62 {
    flex-shrink: 0;
    width: 300px;
    height: 362px;
    margin-left: 80px;
    @media (max-width: 320px) {
      width: 290px;
      margin-left: 0;
    }
  }
}

.text-size-s6 {
  @include M400(16, 22);
  @media (max-width: 768px) {
    @include M400(14, 22);
    color: $text-light;
  }
}

.wrap-text-s62{
  h4{
    @include J600(28, 36);
    @media (max-width: 768px) {
      @include J500(24, 28);
    }
  }
  p{
    margin-top: 27px;
    @media (max-width: 768px) {
      @include M400(14, 22);
      color: $text-light;
      margin-top: 25px;
    }
  }
}

