/* Собственно сам слайдер */
.section-1-bg-slider {
  position: relative;
  width: 100%;
  min-width: 1200px;
  top: -71px;
  left: 0;
  margin: auto;
  /* Картинка мастабируется по отношению к родительскому элементу */
  img {
    object-fit: cover;
    width: 100%;
    height: 590px;
  }

  /* Анимация слайдов */
  .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @media (max-width: 768px) {
    min-width: 630px;
  }
}

.wrap-button {
  width: 1200px;
  position: absolute;
  top: 0;
  display: flex;
  margin-top: 481px;
  justify-content: space-between;
  @media (max-width: 768px) {
    width: 630px;
  }
    /* Кнопки вперед и назад */
  .prev, .next {
    cursor: pointer;
    transition: 0.6s ease;
    color: white;
    /* При наведении на кнопки добавляем фон кнопок */
    &:hover {
      opacity: 0.3;
    }

  }

  .next {
    right: 0;
  }

  img {
    width: 48px;
    height: 48px;
  }
}


/* Заголовок слайда */
.slideText {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-left: 69px;
  @media (max-width: 768px) {
    margin-left: 0;
  }

  h2 {
    width: 530px;
    margin-top: 149px;
    @include J400(41,48);
    @media (max-width: 768px) {
      @include J500(24,28);
      margin-top: 131px;
      width: 630px;
    }
  }

  p {
    width: 400px;
    margin-top: 24px;
    @include M400(19, 23);
    @media (max-width: 768px) {
      @include J400(16,19);
      margin-top: 20px;
      width: 415px;
    }
  }

  button {
    margin-top: 39px;
    @media (max-width: 768px) {
      margin-top: 27px;
    }
  }

  .button-styles {
    width: 165px;
    height: 55px;
    border: 2px solid $active;
    border-radius: 27px;
    @include M600(14, 23);
    background: transparent;
    cursor: pointer;
    @media (max-width: 768px) {
      height: 49px;
    }

    &:hover {
      border: 3px solid $active;
    }

    &:active {
      background: $active;
    }

  }
}

/* Кружочки */

.slider-dots {
  text-align: center;
  display: flex;
  align-items: center;

  .slider-dots_item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;

    cursor: pointer;
    height: 19px;
    width: 19px;
    margin: 0 13px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .slider-dots_item:hover {
    background-color: #FFFFFF;
  }
}


@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}