//Стилі тексту

@mixin M400($s, $s2) {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $s+px;
  line-height: $s2+px;
  color: #FFFFFF;
}

@mixin M500($s, $s2) {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $s+px;
  line-height: $s2+px;
  color: #FFFFFF;
}

@mixin M600($s, $s2) {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $s+px;
  line-height: $s2+px;
  color: #FFFFFF;
}

@mixin J400($s, $s2) {
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $s+px;
  line-height: $s2+px;
  color: #FFFFFF;
}

@mixin J500($s, $s2) {
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $s+px;
  line-height: $s2+px;
  color: #FFFFFF;
}
@mixin J600($s, $s2) {
  font-family: 'Jura', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $s+px;
  line-height: $s2+px;
  color: #FFFFFF;
}